<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>
    <h1>
      Home of the LACKP
    </h1>

    <div>
      <h2>
        <a href="/LACKP/teams">LACKP Team list</a>
      </h2>
    </div>
    <div>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/71/53/65/715365540f7a60944aa779e592bcaa7b.jpg">
    </div>
  </body>
</html>
