
    <div class="league_header">
      <h1>
        Home of the LACKP
      </h1>
    </div>
    <div class="index-links">
      <h2>
        <a href="/LACKP/teams">LACKP Team List</a>
      </h2>
      <h2>
        <a href="/LACKP/positions">LACKP Player Positions</a>
      </h2>
    </div>
    <div class="queen">
      <center><img src="https://s-media-cache-ak0.pinimg.com/originals/71/53/65/715365540f7a60944aa779e592bcaa7b.jpg"></center>
    </div>
