<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>
    <h1>
      Home of the <%= @team_name %>
    </h1>
    <ul>
      <% @team_data.each do |position, player| %>
        <li>
          <%= position %>: <%= player %>
        </li>
      <% end %>
    </ul>
    <a href="/LACKP/teams">Back to LACKP Team list</a>
  </body>
</html>
