
    <h1>The teams of LACKP</h1>

    <ul>
      <% @teams.each do |team_name| %>
        <li><a href="/LACKP/teams/<%= team_name %>"><%= team_name %></a></li>
      <% end %>
    </ul>
    <a href="/LACKP">Back to LACKP Homepage</a>
